<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Once a day at six. For a standing deploy-red watch, replace
     StartCalendarInterval with <key>StartInterval</key><integer>1800</integer>. -->
<plist version="1.0"><dict>
  <key>Label</key><string>curia.{{ESTATE}}.censor</string>
  <key>ProgramArguments</key><array>
    <string>{{MECHANISM}}/bin/curia</string><string>--estate</string><string>{{ESTATE_DIR}}</string><string>censor</string>
  </array>
  <key>StartCalendarInterval</key><dict><key>Hour</key><integer>6</integer><key>Minute</key><integer>0</integer></dict>
  <key>EnvironmentVariables</key><dict><key>PATH</key><string>/Users/USER/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string></dict>
  <key>StandardOutPath</key><string>{{ESTATE_DIR}}/brain/censor/launchd.log</string>
  <key>StandardErrorPath</key><string>{{ESTATE_DIR}}/brain/censor/launchd.log</string>
</dict></plist>
